@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 인덱스 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

.front{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    background: radial-gradient(
        rgba(158, 158, 158, 0.096),
        rgba(0, 0, 0, 0.582)
    );
}

.wrap{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}

.logo{
    width: 100%;
    padding-top: 95px;
    text-align: center;
}

.text{
    font-family: 'CookieRun-Regular';
    font-size: 24px;
    color: white;
    line-height: 50px;
    text-align: center;
    padding-top: 115px;
}

.button{
    width: 100%;
    padding-top: 135px;
    text-align: center;
}



/* 서브페이지 */
section{
    width: 430px;
}

.s_01{
background: #FFD38C;
height: 800px;
position: fixed;
z-index: 1;
}

.b1{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.b2{
    position: fixed;
    z-index: 3;
}

.b_01{
    width: 299px;
    height: 299px;
    padding-left: 66px;
    padding-top: 20px;
}

.b3{
    position: fixed;
    z-index: 4;
}
.b_02{
    padding-top: 319px;
    width: 430px;
    height: 321px;
}

.b4{
    position: fixed;
    z-index: 5;
}
.b_03{
    padding-top: 507px;
}

/* s02 */
.s_02{
    background-color: #FEF4C1;
}









/* footer */
footer{
    width: 430px;
    height: 300px;
    background-color: #656560;
}

footer > div{
    font-family: 'NanumSquare';
    line-height: -20px;
    color: white;
    width: 380px;
    margin: 0 auto;
}
.f1{
    
    font-size: 16px;
        padding-top: 42px;
}

.f2{
    font-size: 14px;
    padding-top: 30px;
}